<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <!-- Prva cast (vyplnenie udajov a autoroch)-->
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Informacie a autoroch dokumentu</ng-template>
            <mat-form-field>
                <input matInput placeholder="Meno" formControlName="firstCtrl" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Priezvisko" formControlName="firstCtrl" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Titul(y)" formControlName="firstCtrl" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="%" formControlName="firstCtrl" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Doktorand</mat-label>
                <mat-select>
                    <mat-option *ngFor="let option of options" [value]="option.value">
                        {{option.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Pracovisko</mat-label>
                <mat-select>
                    <mat-option *ngFor="let workspace of workspaces" [value]="workspace.value">
                        {{workspace.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Ustav/Katedra" formControlName="firstCtrl" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Kontact(t.c/email)" formControlName="firstCtrl" required>
            </mat-form-field>
            <!-- Urobit funkciu na pridanie dalsieho autora-->
            <mat-card-actions>
                <button type="button" mat-raised-button color="accent">Pridaj autora</button>
            </mat-card-actions>
            <div>
                <button mat-button matStepperNext>Dalej</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Informacie o dokumente</ng-template>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Nazov dokumentu (uvedený v jazyku dokumentu)" formControlName="secondCtrl" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Preklad dokumentu (do angličtiny / slovenčiny - ak je jazyk dokumentu iný ako slovenčina)" formControlName="secondCtrl" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Kľúčové slová (slovenčina)" formControlName="secondCtrl" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Kľúčové slová (angličtina)" formControlName="secondCtrl" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Kategória publikačnej činnosti</mat-label>
                <mat-select>
                    <mat-option *ngFor="let activity of activities" [value]="activity.value">
                        {{activity.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- tu je pod tymto komentom- moze byt viac oblasti vyskumu, treba pridat add - ked skusime ci tamten hore funguje -->
            <mat-form-field>
                <mat-label>Zvoľte oblasť výskumu</mat-label>
                <mat-select>
                    <mat-option *ngFor="let reserachField of reserachFields" [value]="reserachField.value">
                        {{reserachField.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Zadajte typ evidovaného dokumentu</mat-label>
                <mat-select>
                    <mat-option *ngFor="let type of types" [value]="type.value">
                        {{type.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Dostupnosť na www (v prípade elektronických dokumentov)" formControlName="dostupnost" required>
            </mat-form-field>
            <!-- tu pravdepodobne pridat poslednu polozku- novy form o tom ci vobec existuje ta posledna polozka -->

            <div>
                <button mat-button matStepperPrevious>Spat</button>
                <button mat-button matStepperNext>Dalej</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>

<!-- posledna kolonka, ktora ma nulovu hodnotu- rozklikatelna!  gantschemes su upravene do value, viewValue-->