/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('/assets/images/pencil2.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.mat-toolbar.mat-primary  {
    background: #f5f5f5;
    color: rgba(0,0,0,.87);
}
