<div class="employees-wrapper">
    <h2>Zoznam pracovníkov UK UPJŠ zodpovedných za evidenciu publikačnej činnosti a ohlasov</h2>
    <mat-grid-list cols = "3" rowHeight = "100px">
        <mat-grid-tile [colspan] = "3"[rowspan] = "2">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-subtitle>EPC PrávF, PF</mat-card-subtitle>
                  <mat-card-title><a href="mailto:romana.brutovska@upjs.sk">Bc. Romana Brutovská</a></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    VOIP 6217, 6262 
                  </p>
                  <p>
                    Prírodovedecká knižnica (Park Angelinum 9, 041 80 Košice)
                  </p>
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan] = "3"[rowspan] = "2">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-subtitle>EPC LF</mat-card-subtitle>
                  <mat-card-title> <a href="mailto:zuzana.contofalska@upjs.sk">Mgr. Zuzana Čontofalská</a></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    tel. 640 2283, VOIP 1621
                  </p>
                  <p>
                    Lekárska knižnica (Trieda SNP 1, 040 11 Košice)
                  </p>
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan] = "3"[rowspan] = "2">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-subtitle>EPC FVS, FF, univerzitné pracoviská</mat-card-subtitle>
                  <mat-card-title> <a href="mailto:klara.marcinova@upjs.sk">PhDr. Klára Marcinová</a></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    VoIP 1616 
                  </p>
                  <p>
                    Filozofická knižnica (Moyzesova 9, 040 01 Košice)
                  </p>
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
     </mat-grid-list>
</div>

